.header {
  //   background: linear-gradient(to bottom, #ffcc99 0%, #ff9933 100%);
  //   background: linear-gradient(to bottom, #0066ff 0%, #ffccff 100%);
  //   background: linear-gradient(to bottom, #0066ff 0%, #99ccff 100%);
  padding: 5px 25px 4px 25px;
  height: 65px;
  color: black;
  box-shadow: 3px 2px 5px grey;
  background: #fafafa;
  > .site-logo {
    // width: 300px;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 400;
  }
}
.fixed{
  position: fixed;
  width:97.2%;
  transition: 0.1s linear;
  z-index: 1000;
}
.example-spacer{
}
.notfixed{
  position: static;
  transition: 0.1s linear;
  top: -50px;
  z-index: 1000;
}

.mat-button {
  font-size: 16px;
  font-weight: 400;
}

.mat-button:hover {
  background: #525252;
  color: white;
}

.mat-raised-button {
  height: 36px;
  color: white;
  background-color: #ff8a00;
}

.button-space {
  margin-right: 5px;
}
