<section class="about-us">
  <div class="flex-center-all about-us-title">
    <span class="">Why choose us</span>
  </div>
  <span class="about-us-sub-title flex-center-all"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aperiam
    alias labore qui, tempore consequuntur totam quas deleniti ullam
    praesentium, ipsam nesciunt optio animi provident dolorum veniam natus
    laboriosam? Similique!</span
  >
  <div class="about-us-sections flex">
    <div class="section-info flex-1 flex-center-all">
      <span>Quality</span>
    </div>
    <div class="section-info flex-1 flex-center-all">
      <span>Responsiveness</span>
    </div>
    <div class="section-info flex-1 flex-center-all">
      <span>Architecture</span>
    </div>
  </div>
</section>
