<section class="about-us">
  <div class="flex-center-all about-us-title">
    <span class="">Why choose us</span>
  </div>
  <!-- <span class="about-us-sub-title flex-center-all"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aperiam
    alias labore qui, tempore consequuntur totam quas deleniti ullam
    praesentium, ipsam nesciunt optio animi provident dolorum veniam natus
    laboriosam? Similique!</span
  > -->
  <div class="about-us-sections flex">
    <div class="section-info flex-1">
      <div class="icons-div flex-center-all">
        <mat-icon class="about-us-icons support-icon"> support_agent </mat-icon>
      </div>
      <div class="flex-center-all about-us-headers">Support</div>
      <div class="header-content">
        <span class="flex-center-all"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          dignissimos recusandae illo tenetur! Commodi dicta impedit possimus
          sint atque eos provident? Cum itaque beatae laborum repellendus iste
          atque minima ab?
        </span>
      </div>
    </div>
    <div class="section-info flex-1">
      <div class="icons-div flex-center-all">
        <mat-icon class="about-us-icons quality-icon">
          playlist_add_check
        </mat-icon>
      </div>
      <div class="flex-center-all about-us-headers">Quality &nbsp;</div>
      <div class="header-content">
        <span class="flex-center-all"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          dignissimos recusandae illo tenetur! Commodi dicta impedit possimus
          sint atque eos provident? Cum itaque beatae laborum repellendus iste
          atque minima ab?</span
        >
      </div>
    </div>
    <div class="section-info flex-1">
      <div class="icons-div flex-center-all">
        <mat-icon class="about-us-icons response-icon">apps</mat-icon>
      </div>
      <div class="flex-center-all about-us-headers">Responsiveness</div>
      <div class="header-content">
        <span class="flex-center-all"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          dignissimos recusandae illo tenetur! Commodi dicta impedit possimus
          sint atque eos provident? Cum itaque beatae laborum repellendus iste
          atque minima ab?</span
        >
      </div>
    </div>
  </div>
</section>
