//<--------- About-us  ---------->

.about-us {
  background: #fff;
  padding-top: 35px;

  .about-us-title {
    height: 40px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', serif;
  }
  .about-us-sub-title {
    margin: 10px 150px;
  }
}

.about-us-sections {
  margin-top:35px;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-info {
  margin: 0px 1em 25px 1em;
  width: 200px;
  // height: 250px;
  // border: 1px solid #fff;
  // border-radius: 5px;
  // box-shadow: 5px 1px 3px 3px grey;
}

.about-us-headers {
  font-size: 24px;
}

.header-content {
  font-size: 14px;
  color: grey;
  padding: 20px 5px 0px 5px;
}

//icons-------->
.icons-div {
  // padding: 0px 350px;
  height: 100px;
  margin: 2px 0px;
}

.about-us-icons {
  font-size: 75px;
}

.mat-icon {
  height: 75px;
  width: 75px;
}

.support-icon {
  color: green;
}

.response-icon {
  color: red;
}

.quality-icon {
  color: #238fff;
}
