*{
    color: #000;
    background-color: rgb(220,220,220);
}
.aboutUs-head{
    padding-top: 50px;
    .aboutUs-heading{
        font-family: 'Roboto Slab', serif;
        font-size: 35px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 45px;
    }
}
.aboutUs-content{
    padding-top: 30px;
    .aboutUs-image-div{
        .aboutUs-image{
            width: 450px;
            height: 350px;
            padding-left: 35%;
            border-radius: 2px;
            box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.40);
        }
    }
    .aboutUs-image-text{
        padding-right: 10%;
        padding-left: 20px;
        >h1{
            letter-spacing: 2px;
            font-size:25px;
        }
        >span{
            font-size: 18px;
            line-height: 30px;
        }
    }
}