*{
    color: #000;
    background-color: rgb(220,220,220);
}
.about-us-container{
    margin-top: 30px;
    padding-bottom: 50px;
}
.aboutUs-head{
    padding-top: 50px;
    .aboutUs-heading{
        font-family: 'Roboto Slab', serif;
        font-size: 35px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 45px;
    }
}
.aboutUs-content{
    padding-top: 30px;
    .aboutUs-image-div{
        text-align: end;   
    }
        .aboutUs-image{
            width: 450px;
            height: 350px;
            border-radius: 2px;
            box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.40);
            margin: 0px 20px;
        }
    .aboutUs-image-text{
        padding-left: 20px;
        margin-right: 20px;
        >h1{
            letter-spacing: 2px;
            font-size:25px;
        }
        >span{
            font-size: 18px;
            line-height: 30px;
        }
    }
}