<section >
    <div class="about-us-container">
        <div class="flex-center-all aboutUs-head">
            <h1 class="aboutUs-heading">Buying A Home Dosen't Have <br>To Be A Mystery</h1>
        </div>
        <div class="flex aboutUs-content">
            <div class="flex-1 aboutUs-image-div">
                <img src="assets/h1.jpg" alt="" class="aboutUs-image">
            </div>
            <div class="flex-1 aboutUs-image-text">
                <h1>Build a small nest for you</h1>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem omnis reiciendis tempora,
                     veritatis ex sunt mollitia et, nostrum temporibus odit eveniet. Molestiae ratione similique
                      eligendi ipsa? Expedita, repudiandae. Voluptate quo accusamus eum quod ut, enim optio consequatur
                       non provident nobis rem deleniti assumenda atque fuga ullam ea praesentium magnam.
                </span>
            </div>
        </div>
    </div>
</section>
