.container {
  width: 100%;
  min-width: 400px;

  > .image-slider {
    height: 60vh;
    background: url("/assets/main-home-image.jpg") no-repeat center / cover;
  }
}
.content-holder {
  background-color: #fff;
  margin: -50px 25px 0px 25px;
  box-shadow: 0px 25px 25px 2px rgb(150,150,150);
}
.image-slider-quote {
  padding: 10px;
  color: white;
  background-color: #24232398;
  margin: 50px 0px 150px 25px;
  border-radius: 5px;

  > .quote {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 40px;
    padding: 0px 5px 0px 15px;
  }
}

.main-quote {
  margin-bottom: 2px;
  line-height: 50px;
}

.sub-quote {
  font-size: 20px;
  line-height: 30px;
}

.learn-more-btn {
  color: white;
  background: #ff8a00;
  width: 115px;
  margin-top: 30px;
}

.learn-more-btn:hover {
  background-color: rgba(255, 255, 255, 0.897);
  color: #ff8a00;
}

.main-header-image {
  margin: 50px 50px 0px 0px;
  height: 450px;
  // background: url("/assets/main-header-image.jpg") no-repeat center / cover;
  border-radius: 5px;
}
