.container {
  width: 100%;
  min-width: 400px;
  height: 400px;

  > .image-slider {
    height: 500px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      url("/assets/main-1.jpeg") no-repeat center / cover;
    border-radius: 5px;
  }
}

.image-slider-quote {
  padding: 10px;

  > .quote {
    font-size: 40px;
    line-height: 40px;
  }
}
