<div class="container">
  <div class="flex image-slider">
    <div class="flex-center-all image-slider-quote">
      <div class="quote flex flex-vertical">
        <span class="main-quote">
          Welcome to a <br />
          new way to explore real estate
        </span>
        <span class="sub-quote"> Contact us to know more. </span>
        <button mat-raised-button class="learn-more-btn">Learn More +</button>
      </div>
    </div>
    <div class="flex-1 flex-center-all main-header-image"></div>
  </div>
  <app-home-section-items></app-home-section-items>
</div>
