<div class="container flex">
    <div class="box-1 flex-1">
        <h1 class="head-text">Get in Touch</h1>
        <h1 class="content-text"><mat-icon><span class="material-icons-outlined">place</span></mat-icon>
            Find us at the office
        </h1>
        <span class="content-text-2">
            64p , Sector - 91 , Faridabad , Haryana 
        </span>
        <h1 class="content-text"><mat-icon><span class="material-icons-outlined">smartphone</span></mat-icon>
            Give us a ring
        </h1>
        <span class="content-text-2">
            9312263196 , 9811238641
        </span>
    </div>
    <div class="box-2 flex-1">
        <h1 class="head-text-2">Connect with us</h1>
        <div class="div-btn"><button class="btn">Contact us</button></div>
    </div>
</div>