$color-black-1: #444;

$color-grey-4: #727272;

$color-blue-2: #1c66ab;

$color-blue-5: #4f81a8;
$color-red-1: #ed4758;
$color-task-exp-icon: #a3a3a3;
$color-task-complete: #3b51b5;
$color-task-group-back-groud: #f2f2f2;
$color-task-default-color: black;
$color-heading: #3d8fc8;
$color-medium: #989aa2;
$ion-color-light: #f4f5f8;
$color-rose: #3d8fc8;
$color-red: #3d8fc8;
$color-dark: #222428;
$color-light: #f4f5f8;
$color-danger: #f04141;
$color-success: #10dc60;
$color-warning: #ffce00;
$color-secondary: #0cd1e8;

$color-primary: #3880ff;
$color-primary-rgb: 56, 128, 255;
$color-primary-contrast: #ffffff;
$color-primary-contrast-rgb: 255, 255, 255;
$color-primary-shade: #3171e0;
$color-primary-tint: #4c8dff;

/** secondary **/
$color-secondary: #0cd1e8;
$color-secondary-rgb: 12, 209, 232;
$color-secondary-contrast: #ffffff;
$color-secondary-contrast-rgb: 255, 255, 255;
$color-secondary-shade: #0bb8cc;
$color-secondary-tint: #24d6ea;

/** tertiary **/
$color-tertiary: #7044ff;
$color-tertiary-rgb: 112, 68, 255;
$color-tertiary-contrast: #ffffff;
$color-tertiary-contrast-rgb: 255, 255, 255;
$color-tertiary-shade: #633ce0;
$color-tertiary-tint: #7e57ff;

/** success **/
$color-success: #10dc60;
$color-success-rgb: 16, 220, 96;
$color-success-contrast: #ffffff;
$color-success-contrast-rgb: 255, 255, 255;
$color-success-shade: #0ec254;
$color-success-tint: #28e070;

/** warning **/
$color-warning: #ffce00;
$color-warning-rgb: 255, 206, 0;
$color-warning-contrast: #ffffff;
$color-warning-contrast-rgb: 255, 255, 255;
$color-warning-shade: #e0b500;
$color-warning-tint: #ffd31a;

/** danger **/
$color-danger: #f04141;
$color-danger-rgb: 245, 61, 61;
$color-danger-contrast: #ffffff;
$color-danger-contrast-rgb: 255, 255, 255;
$color-danger-shade: #d33939;
$color-danger-tint: #f25454;

/** dark **/
$color-dark: #222428;
$color-dark-rgb: 34, 34, 34;
$color-dark-contrast: #ffffff;
$color-dark-contrast-rgb: 255, 255, 255;
$color-dark-shade: #1e2023;
$color-dark-tint: #383a3e;

/** medium **/
$color-medium: #989aa2;
$color-medium-rgb: 152, 154, 162;
$color-medium-contrast: #ffffff;
$color-medium-contrast-rgb: 255, 255, 255;
$color-medium-shade: #86888f;
$color-medium-tint: #a2a4ab;

/** light **/
$color-light: #f4f5f8;
$color-light-rgb: 244, 244, 244;
$color-light-contrast: #000000;
$color-light-contrast-rgb: 0, 0, 0;
$color-light-shade: #d7d8da;
$color-light-tint: #f5f6f9;

/** rose **/
$color-rose: #3d8fc8;
$color-rose-rgb: 241, 142, 41;
$color-rose-contrast: #3d8fc8;
$color-rose-contrast-rgb: 241, 142, 41;
$color-rose-shade: #3d8fc8;
$color-rose-tint: #3d8fc8;
