* {
  color: #000;
  overflow: hidden;
}
section {
  background-color: white;
}
.services-heading {
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  letter-spacing: 2px;
}
.container {
}
