.body-ctr {
  // margin: 20px 2px;
  // padding: 15px;
  background-color: white;
  min-height: calc(100% - 24px);
  .main-ctr {
    display: flex;
    flex-direction: column;
  }
}

.section-1 {
  height: 400px;
  width: 100%;
}
